/* GLOBAL */

body {
    background-color: #ccdde3;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img,
video {
    max-width: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

.container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container--s {
    max-width: 768px;
}

.container--fullwidth {
    max-width: 100%;
}

section *:first-child {
    margin-top: 0;
}

section *:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

@media (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 3rem;
}

@media (min-width: 992px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2rem;
}

@media (min-width: 992px) {
    h3 {
        font-size: 3rem;
    }
}

h4 {
    font-size: 1.5rem;
}

@media (min-width: 992px) {
    h4 {
        font-size: 2rem;
    }
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

.filtered {
    filter: invert(91%) sepia(23%) saturate(129%) hue-rotate(157deg)
        brightness(91%) contrast(95%);
}

.vetical-content {
    display: flex;
    flex-direction: column;
}

.vetical-content--centered {
    justify-content: center;
}

.pd--xl {
    padding: 100px 20px;
}

.pd--l {
    padding: 50px 20px;
}

@media (min-width: 992px) {
    .pd--l {
        padding: 70px 20px;
    }
}

.pd--m {
    padding: 50px 20px;
}

.pd--s {
    padding: 30px 20px;
}

.pd--xs {
    padding: 20px;
}

.bg--dark {
    background-color: #000000;
    color: #ccdde3;
}

.bg--light {
    background-color: #ccdde3;
    color: #000000;
}

/* BURGER MENU */

.toggle-menu {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .toggle-menu {
        display: none;
    }
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #cccccc;
    transition: transform 0.2s ease-out;
}

.toggle .line1 {
    background-color: #cccccc;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 5px);
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    background-color: #cccccc;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -6px);
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 9999;
    padding: 20px 0;
}

.header .pure-g {
    align-items: center;
}

.header .header__logo {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.header .header__logo img {
    filter: brightness(0%);
}

.header .header-nav__list {
    list-style: none;
    display: none;
    font-size: 20px;
    flex-direction: column;
    margin-top: 14px;
}

@media (min-width: 768px) {
    .header .header-nav__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0;
        font-size: 16px;
    }
}

.header .header-nav__list-item {
    position: relative;
    margin: 5px;
    font-weight: 600;
    border: 3px solid transparent;
    padding: 5px 10px;
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .header .header-nav__list-item {
        margin: 0 10px;
    }
}

.header .header-nav__list-item:hover {
    border: 3px solid #ffff35;
}

.header .header-nav__list-item a {
    overflow: hidden;
    transition: all 0.5s;
    padding: 10px 0;
    color: #ccdde3;
}

.header.toggle {
    background-color: #000000;
    bottom: 0;
}

.header.toggle .header-nav__list {
    display: flex;
}

.header.toggle .header__menu {
    margin-top: 40px;
}

.header.toggle .header-nav__list-item {
    border-color: #ccdde3;
    max-width: fit-content;
}

.header.toggle .header-nav__list-item:hover {
    border-color: #ffff35;
}

.header .header__logo img {
    transition: all 0.5s;
}

.header.scrolled {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.header.scrolled .header__logo img {
    max-width: 150px;
}

/* INTRO */

.intro {
    background: url("../images/intro-bg.jpg") no-repeat center center / cover;
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 992px) {
    .intro {
        height: calc(100vh - 60px);
    }
}

.intro:after {
    content: "";
    background-image: url("../images/noise.jpg");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    z-index: 2;
}

.intro .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    pointer-events: none;
    display: block;
    z-index: 1;
    object-fit: cover;
    opacity: 0.5;
}

.intro .social-nav {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    z-index: 11;
}

.intro .btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 10;
}

/* NEWSROOM */

.newsroom .image-box {
    margin-right: 50px;
}

.newsroom .image-box {
    max-height: 195px;
    overflow: hidden;
}

/* ELEMENTS */

.social-nav {
    position: relative;
    z-index: 10;
    max-width: fit-content;
}

.social-nav .social-nav__list {
    display: flex;
    list-style: none;
}

.social-nav.social-nav--vertical .social-nav__list {
    flex-direction: column;
    align-items: center;
}

.social-nav .social-nav__list-item {
    margin: 10px;
}

.social-nav .social-nav__list-link img {
    width: 24px;
    height: auto;
}

.social-nav .social-nav__list-link--katowice img {
    width: 42px;
}

.lineup-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.lineup-list .lineup-list__item {
    position: relative;
    background-color: #b2c7ce;
    color: #000000;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
    transition: all 0.5s;
    cursor: pointer;
}

@media (min-width: 992px) {
    .lineup-list .lineup-list__item {
        padding: 10px 15px;
        font-size: 20px;
    }
}

.lineup-list .lineup-list__item:hover {
    background-color: #ffff35;
}

.lineup-list .lineup-list__item img {
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 10;
    min-width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

@media (min-width: 992px) {
    .lineup-list .lineup-list__item img {
        top: 43px;
    }
}

.lineup-list .lineup-list__item:hover img {
    visibility: visible;
    opacity: 1;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    color: #000000;
    background-color: #ffff35;
    padding: 10px 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    max-width: fit-content;
    gap: 10px;
    line-height: 1;
}

.btn:hover {
    opacity: 0.8;
}

.btn--xl {
    padding: 15px 20px;
    font-size: 20px;
}

.btn--animated {
    animation: changebg 0.8s alternate-reverse infinite;
}

.btn--animated:hover {
    animation: none;
    opacity: 1;
}

.btn--black {
    background-color: transparent;
    color: #000;
    border: 3px solid #000;
}

.image-box {
    transition: all 0.5s;
    position: relative;
}

.image-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffff35;
    opacity: 0;
    transition: all 0.5s;
}

.image-box:hover::before {
    opacity: 0.6;
}

.sponsors {
    list-style: none;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .sponsors {
        flex-direction: row;
        justify-content: space-between;
    }
}

.sponsors__item {
    text-align: center;
    padding: 20px;
}

@media (min-width: 768px) {
    .sponsors__item {
        padding: 0 40px;
    }
}

.sponsors__item p {
    margin-top: 0;
}

.sponsors__item img {
    max-height: 50px;
    max-width: 140px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    text-align: center;
}

.links a:first-child {
    text-align: left;
}

.links a:last-child {
    text-align: right;
}

/* ANIMATIONS */

@keyframes changebg {
    from {
        background-color: #ffff35;
    }
    to {
        background-color: #ccdde3;
    }
}

/*FOOTER*/

.footer img {
    mix-blend-mode: darken;
}

.footer a {
    font-weight: 700;
}

.footer .privacy {
    text-align: left;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .footer .privacy {
        text-align: center;
        margin-bottom: 0;
    }
}

.footer .fooz-logo {
    text-align: left;
}

@media (min-width: 768px) {
    .footer .fooz-logo {
        text-align: right;
    }
}

.footer .copyright {
    font-weight: 700;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .footer .copyright {
        margin-bottom: 0;
    }
}

.footer .separator {
    border: 2px solid #000;
}

/* QUOTE */

.quote {
    position: relative;
    font-size: 20px;
    padding-left: 60px;
    margin: 20px 0;
}

.quote:before {
    content: "";
    background-image: url("../images/quote.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
}

.quote span {
    color: #ffff35;
}

/* STORY LIST */

.story-list {
    list-style: none;
}

.story-list__item {
    position: relative;
    margin: 50px 0;
    display: flex;
    gap: 20px;
}

@media (min-width: 768px) {
    .story-list__item {
        gap: 50px;
    }
}

.story-list__item:before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #ccdde3;
    position: absolute;
    top: 22px;
    left: -100%;
}

@media (min-width: 768px) {
    .story-list__item:before {
        left: calc(-100% - 10px);
    }
}

.story-list__item:nth-child(2n) {
    padding-left: 0;
}

@media (min-width: 768px) {
    .story-list__item:nth-child(2n) {
        padding-left: 100px;
    }
}

@media (min-width: 1280px) {
    .story-list__item:nth-child(2n) {
        padding-left: 200px;
    }
}

.story-list__item:nth-child(2n):before {
    left: -100%;
}

@media (min-width: 768px) {
    .story-list__item:nth-child(2n):before {
        left: calc(-100% + 95px);
    }
}

@media (min-width: 1280px) {
    .story-list__item:nth-child(2n):before {
        left: calc(-100% + 190px);
    }
}

.story-list__item:nth-child(3n) {
    padding-left: 0;
}

@media (min-width: 768px) {
    .story-list__item:nth-child(3n) {
        padding-left: 50px;
    }
}

@media (min-width: 1280px) {
    .story-list__item:nth-child(3n) {
        padding-left: 100px;
    }
}

.story-list__item:nth-child(3n):before {
    left: -100%;
}

@media (min-width: 768px) {
    .story-list__item:nth-child(3n):before {
        left: calc(-100% + 45px);
    }
}

@media (min-width: 1280px) {
    .story-list__item:nth-child(3n):before {
        left: calc(-100% + 90px);
    }
}

.story-list__year {
    font-size: 40px;
    font-weight: 600;
    color: #ffff35;
}

.story-list__description {
    padding-top: 15px;
}

/* ACCORDION */

.accordion {
    margin: 20px 0;
}

.accordion__btn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 3px solid #ffff35;
    font-weight: 600;
    color: inherit;
}

.accordion__btn:after {
    content: "+";
    margin-top: -1px;
    margin-left: 5px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    color: inherit;
}

.accordion__btn.active:after {
    content: "HIDE -";
    font-weight: 600;
    color: inherit;
}

.accordion__btn.active,
.accordion__btn:hover {
    background-color: #ffff35;
}

.accordion__content {
    padding: 15px;
    display: none;
    overflow: hidden;
}

.bg--dark .accordion__btn {
    border-color: #ccdde3;
}

.bg--dark .accordion__btn.active,
.bg--dark .accordion__btn:hover {
    background-color: #ccdde3;
    color: #000000;
}

/* ARTIST CARD */

.artist-card {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    z-index: 11;
    transition: all 0.3s;
}

.artist-card:after {
    content: "";
    display: block;
    padding-bottom: 105%;
}

.artist-card:hover h4 {
    bottom: 60px;
    color: #000;
}

.artist-card:hover span {
    bottom: 20px;
    color: #000;
}

.artist-card:hover:before {
    background: #ffff35;
    opacity: 0.5;
}

.artist-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.4) 100%
    );
    z-index: 10;
}

.artist-card img {
    object-fit: cover;
}

.artist-card h4 {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: #ccdde3;
    z-index: 11;
    margin: 0;
    transition: all 0.3s;
}

.artist-card span {
    position: absolute;
    right: 20px;
    bottom: -50px;
    transition: all 0.3s;
    z-index: 11;
    font-weight: 600;
}

.artist-card span:after {
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff35;
    color: #000;
    font-weight: 600;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    float: right;
    margin-top: -5px;
}

/* OFF STORY PAGE */

.off-story .intro {
    background-image: url("../images/story-bg.jpeg");
}

.story {
    position: relative;
    background: transparent;
    margin-top: 0;
}

@media (min-width: 1280px) {
    .story {
        margin-top: -400px;
    }
}

.story:before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    content: "";
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: 10;
}

.story .container {
    position: relative;
    z-index: 11;
}

.story .quote {
    margin: 40px;
}

/* TICKETS */

.tickets {
    position: relative;
    background-image: url("../images/gold-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    text-align: center;
}

.tickets:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffff35;
    opacity: 0.5;
    z-index: 10;
}

.tickets .container {
    position: relative;
    z-index: 11;
}

.tickets .btn {
    display: inline-block;
}

/* FAQ PAGE */

.faq .intro {
    background-image: url("../images/faq-bg.jpeg");
    height: 400px;
    min-height: auto;
}

/* LINEUP PAGE */

.lineup .intro {
    background-image: url("../images/lineup-bg.jpeg");
    height: 400px;
    min-height: auto;
}

.lineup .intro:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    z-index: 10;
    opacity: 0.5;
}

.lineup .intro .container {
    z-index: 11;
}

/* ARTISTS */

.artists h2 {
    margin-bottom: 40px;
}

.artists .container {
    padding: 0;
}
